In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('dirty_cafe_sales.csv')
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [4]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [6]:
df.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_1961373,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [7]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [8]:
print( df.columns.tolist())

['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent', 'Payment Method', 'Location', 'Transaction Date']

In [9]:
df.dtypes.astype(str).to_dict()

{'Transaction ID': 'object',
 'Item': 'object',
 'Quantity': 'object',
 'Price Per Unit': 'object',
 'Total Spent': 'object',
 'Payment Method': 'object',
 'Location': 'object',
 'Transaction Date': 'object'}

In [15]:
df['Item'] = df['Item'].replace('ERROR','UNKNOWN')

In [16]:
df['Item'] = df['Item'].replace("UNKNOWN", "Pizza")
df
# df['Item'].fillna(df['Item'].mode(),inplace=True)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [17]:
# Remove extra spaces and capitalize each word
df['Item'] = df['Item'].str.strip().str.title()

In [18]:
df['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'Pizza',
       'Sandwich', nan, 'Juice', 'Tea'], dtype=object)

In [19]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [75]:
# --- 5. Clean 'Quantity', 'Price Per Unit', and 'Total Spent' ---

# Convert to numeric, coercing errors to NaN
df['Quantity'] = pd.to_numeric(df['Quantity'] , errors='coerce')
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')
df['Total Spent'] = pd.to_numeric(df['Total Spent'],errors='coerce')

In [77]:
df.dtypes

Transaction ID              object
Item                        object
Quantity                   float64
Price Per Unit             float64
Total Spent                float64
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
dtype: object

In [78]:
# Fill missing values using logical calculations

df['Price Per Unit'] = df['Price Per Unit'].fillna((df['Total Spent'] / df['Quantity']).round(2))
df['Total Spent'] = df['Total Spent'].fillna((df['Price Per Unit'] * df['Quantity']).round(2))
df['Quantity'] = df['Quantity'].fillna((df['Total Spent'] / df['Price Per Unit']).round(2))

In [69]:
# Fill any remaining missing values with 'Unknown'
df['Price Per Unit'] = df['Price Per Unit'].fillna('Unknown')
df['Total Spent'] = df['Total Spent'].fillna('Unknown')
df['Quantity'] = df['Quantity'].fillna('Unknown')

In [70]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method      2579
Location            3265
Transaction Date       0
dtype: int64

In [81]:
# --- 6. Clean 'Transaction Date' ---
# Convert to datetime, coercing errors

df['Transaction Date'] = pd.to_datetime(df['Transaction Date'],errors='coerce')

# Fill missing dates with mode

df['Transaction Date'] = df['Transaction Date'].fillna(df['Transaction Date'].mode()[0])

df['Transaction Date'].head(12)

0    2023-09-08
1    2023-05-16
2    2023-07-19
3    2023-04-27
4    2023-06-11
5    2023-03-31
6    2023-10-06
7    2023-10-28
8    2023-07-28
9    2023-12-31
10   2023-11-07
11   2023-02-06
Name: Transaction Date, dtype: datetime64[ns]

In [72]:
print(df.dtypes)

Transaction ID              object
Item                        object
Quantity                    object
Price Per Unit              object
Total Spent                 object
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
dtype: object

In [80]:
# --- 7. Clean 'Payment Method' ---
# Strip spaces, capitalize, and fill missing values
df['Payment Method'] = df['Payment Method'].str.strip().str.title().fillna('Unknown')
df['Payment Method'] = df['Payment Method'].replace('Error', 'Unknown')
df['Payment Method'] = df['Payment Method'].replace('Unknown','Phonepay')
# Quick checks
df['Payment Method'].unique()

array(['Credit Card', 'Cash', 'Phonepay', 'Digital Wallet'], dtype=object)

In [82]:
# --- 7. Clean 'Location' ---
# Strip spaces, capitalize, and fill missing values
df['Location'] = df['Location'].str.strip().str.title().fillna('Unknown')
df['Location'] = df['Location'].replace('Error', 'Unknown')
df['Location'] = df['Location'].replace('Unknown' , 'Online')
# Quick checks
df['Location'].unique()

array(['Takeaway', 'In-Store', 'Online'], dtype=object)

In [89]:
# --- 8. Additional Checks ---
# Count remaining missing values
df.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
Qunatity            0
dtype: int64

In [7]:
# Count how many 'Unknown' values exist
(df == 'Unknown').sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [91]:
df['Transaction ID'].duplicated().sum()

np.int64(0)

In [8]:
# To download the cleaned fill 
df.to_csv('cleaned_cafe_new_file.csv',index=False)

In [94]:
print( df.columns.tolist())

['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent', 'Payment Method', 'Location', 'Transaction Date', 'Qunatity']

In [ ]:
# Q1. How many rows and columns are in the dataset?
df.shape

(10000, 9)

In [103]:
# Q2. What are the unique payment methods used?
df['Payment Method'].unique()

array(['Credit Card', 'Cash', 'Unknown', 'Digital Wallet'], dtype=object)

In [104]:
# Q3. Count how many transactions were made for each Item.
df['Item'].value_counts()

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
Pizza        969
Name: count, dtype: int64

In [9]:
# Q4. Find the most common Location for transactions.
df['Location'].mode()[0]

'Takeaway'

In [19]:
# Q5. Get the top 5 transactions with the highest Total Spent.
df.nlargest(5,'Total Spent')[['Transaction ID','Item','Total Spent']]

    Transaction ID   Item  Total Spent
10     TXN_2548360  Salad         25.0
51     TXN_6342161  Salad         25.0
52     TXN_8914892  Pizza         25.0
96     TXN_5220895  Salad         25.0
100    TXN_9517146    NaN         25.0

In [111]:
# Q6. Convert Transaction Date into datetime and extract the month name.
df['Month'] = df['Transaction Date'].dt.month_name()
df['Month'].head()

0    September
1          May
2         July
3        April
4         June
Name: Month, dtype: object

In [115]:
# Q7. Find the total revenue per Item.
df.groupby('Item')['Total Spent'].sum()

Item
Cake        10395.0
Coffee       7062.0
Cookie       3223.0
Juice       10509.0
Pizza        8507.5
Salad       17320.0
Sandwich    13664.0
Smoothie    13320.0
Tea          4951.5
Name: Total Spent, dtype: float64

In [116]:
# Q8. Calculate the average Price Per Unit for each Item
df.groupby('Item')['Price Per Unit'].mean()

Item
Cake        3.00000
Coffee      2.00000
Cookie      1.00000
Juice       3.00000
Pizza       2.92731
Salad       5.00000
Sandwich    4.00000
Smoothie    4.00000
Tea         1.50000
Name: Price Per Unit, dtype: float64

In [117]:
# Q9. Which Payment Method generated the highest revenue?
df.groupby('Payment Method')['Total Spent'].sum()

Payment Method
Cash              20366.5
Credit Card       20427.0
Digital Wallet    20383.5
Unknown           27775.0
Name: Total Spent, dtype: float64

In [118]:
# Q10. Count the number of transactions per month.
df['Month'].value_counts()

Month
February     1187
October       838
March         827
June          818
January       818
August        803
December      795
July          791
September     788
November      784
May           777
April         774
Name: count, dtype: int64

In [46]:
# Drop the wrong quantity column
df = df.drop(columns=['Qunatity'])

In [55]:
df.dtypes

Transaction ID              object
Item                        object
Quantity                    object
Price Per Unit             float64
Total Spent                float64
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
dtype: object

In [54]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [122]:
# Q11. Which Item has the highest average spending per transaction?
df.groupby('Item')['Total Spent'].mean()

Item
Cake         9.142480
Coffee       6.093184
Cookie       2.965041
Juice        9.005141
Pizza        8.806936
Salad       15.126638
Sandwich    12.167409
Smoothie    12.208983
Tea          4.563594
Name: Total Spent, dtype: float64

In [124]:
# Q12. Compare average Total Spent for each Location.
df.groupby('Location')['Total Spent'].mean()

Location
In-Store    9.033300
Online      8.950735
Takeaway    8.802758
Name: Total Spent, dtype: float64

In [ ]:
# Q13. Find the top 3 most frequently purchased items each month.
df.groupby(['Month','Item']).size().reset_index(name='count') \
  .sort_values(['Month','count'], ascending=[True,False]) \
  .groupby('Month').head(5)

         Month      Item  count
5        April     Salad     98
3        April     Juice     96
7        April  Smoothie     93
0        April      Cake     87
1        April    Coffee     87
17      August       Tea    101
10      August    Coffee     97
14      August     Salad     97
15      August  Sandwich     95
9       August      Cake     87
21    December     Juice    106
19    December    Coffee    105
25    December  Smoothie     90
18    December      Cake     85
20    December    Cookie     84
35    February       Tea    144
30    February     Juice    141
32    February     Salad    135
27    February      Cake    132
29    February    Cookie    130
42     January  Sandwich    112
41     January     Salad    105
39     January     Juice    100
36     January      Cake     95
37     January    Coffee     90
47        July    Cookie     99
50        July     Salad     97
51        July  Sandwich     96
46        July    Coffee     92
52        July  Smoothie     89
55        June    Coffee    101
59        June     Salad     96
57        June     Juice     94
60        June  Sandwich     94
61        June  Smoothie     91
66       March     Juice    105
63       March      Cake    101
64       March    Coffee    100
65       March    Cookie     93
69       March  Sandwich     92
78         May  Sandwich     98
75         May     Juice     96
79         May  Smoothie     89
74         May    Cookie     88
72         May      Cake     85
83    November    Cookie    103
81    November      Cake     97
88    November  Smoothie     95
84    November     Juice     93
86    November     Salad     91
91     October    Coffee    115
90     October      Cake    100
93     October     Juice    100
95     October     Salad     97
98     October       Tea     96
99   September      Cake    101
107  September       Tea     95
106  September  Smoothie     93
105  September  Sandwich     89
102  September     Juice     87

In [129]:
# Q14. Which day of the week has the highest sales?
df['DayOfWeek'] = df['Transaction Date'].dt.day_name()
df.groupby('DayOfWeek')['Total Spent'].sum().sort_values(ascending=False)

DayOfWeek
Monday       16300.5
Thursday     12394.0
Friday       12317.5
Sunday       12285.5
Tuesday      12030.5
Saturday     12007.5
Wednesday    11616.5
Name: Total Spent, dtype: float64

In [131]:
df['DayOfWeek'] = df['Transaction Date'].dt.day_name()
df.groupby('DayOfWeek')['Total Spent'].sum().sort_values(ascending=False)

DayOfWeek
Monday       16300.5
Thursday     12394.0
Friday       12317.5
Sunday       12285.5
Tuesday      12030.5
Saturday     12007.5
Wednesday    11616.5
Name: Total Spent, dtype: float64

In [ ]:
# Q15. Detect anomalies where Total Spent ≠ Quantity × Price Per Unit
df[df['Total Spent'] != df['Quantity'] * df['Price Per Unit']].head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,Month,DayOfWeek
65,TXN_4987129,Sandwich,3.0,NaN,NaN,Unknown,In-Store,2023-10-20,October,Friday
236,TXN_8562645,Salad,NaN,5.0,NaN,Unknown,In-Store,2023-05-18,May,Thursday
278,TXN_3229409,Juice,NaN,3.0,NaN,Cash,Takeaway,2023-04-15,April,Saturday
629,TXN_9289174,Cake,NaN,NaN,12.0,Digital Wallet,In-Store,2023-12-30,December,Saturday
641,TXN_2962976,Juice,NaN,3.0,NaN,Unknown,Online,2023-03-17,March,Friday

In [139]:
df.dtypes

Transaction ID              object
Item                        object
Quantity                   float64
Price Per Unit             float64
Total Spent                float64
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
Month                       object
DayOfWeek                   object
dtype: object

In [83]:
df.to_csv('new_cleancafe.csv')